/*
CSS Syntax
selector{
	propertyA: valueA;
	propertyB:  valueB;
}

* - universal selector; selects all elements in webpage. the least prioritized selector.
font-family="Courier New", monospace; - sets font to be used by browser w/c is Courier New. Since specific font isnt available to all browsers, monospace is a backup option if Courier New isnt existing.

font-size - sets size of font as specified;
	px - pixels
*/

*{
	font-family:  "Courier-New", monospace;
	font-size:  20px;
}

/*
html selector - used to select all elements inside html tag

scroll-behavior - modifies scroll behavior when navigating page*/

html{
	scroll-behavior: smooth;
}

/* body-selector  - selects elements inside body tag
bkgd color - modifies bkgd color of element inside the selector
*/
body{
	background-color: skyblue;
}

nav{
	background-color: white;
}
/* 
child selector (>) - allows selection of child of first selector
SYNTAX:    firstSelector > secondSelector

display:  inline-block; - sets element into inline block
	inline block - makes element inline with its siblings but still is block outsie its parent element.

float - changes horizontal alignment of element and puts it on the specified location/position in this codebase, the div will be positioned on the right side of the page.
*/
nav > div{
	display: inline-block;
	float: right;
}

/* tag selectors*/
h1{
	/*
	!important - overrides/disregards the ranking of priority and makes property the priority.
	code:   color: red !important;

	rem - root element measurement; html tag is the root element. by default, rem + 16px. computation=n*rem; n=no. attached before rem 

	2*16px=32px
	
	*/
	color: red;
	font-size: 2rem;
	text-align: center;
}


section{
	/*
	height - modifies height of element
	vh - measuring the viewport height; measurement of monitor of user
	*/
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}
ol{
	/*
	list-style-type - changes the style of ul or ol in a list
	*/
	list-style-type: none;
}

/*
selector:hover - changes the style of element once cursor hovered over it;
*/

a:hover{
	background-color: #b4d6de;
}

/*
ID selectors
#idName{
	property:  value;
}
*/

#zuitt-motto{
/*letter-spacing - changes spaces between letters of text element*/
	letter-spacing: 5px;
	font-size: 30px;
}

/* 
class selectors
.className{        ----the . will treat it as class selector..
	property: value;
}
*/

.offered-items{
	/*text-transform - changes casing of text element*/
	text-transform: uppercase;
}

/*
	attribute selector
		tag[attribute]{
			property: value;
		}
*/

input[required],[autocomplete]{
	border-width: 2px;
	border-style:  solid;
	border-color: yellow;
}

/*
Combination Selectors
*/

/*
adjacent sibling selector - selects the sibling directly after the first selector. both selectors don't have to belong to the same type (tag, class, id could also be used)
firstSelector + secondSelector{
	property: value;
}
*/

h3 + img{
	height: 300px;
	width: 300px;
	/*border radius - rounds the corner of img element*/
	border-radius: 150px;
}

/*
descendant selector - selects specified element that is a descendant of first element
	firstSelector descendant{
		property value:  value;
	}

	same outcome with child selector:  section>ol>li; but shortcut version
*/

section li{
	color:  #075966;
}

/*
general sibling selector - selects sibling element that comes after the first element
	firstSelector ~ generalSibling
*/

h2 ~ a{
	/*text-decoration - changes decoration of text, usually lining of text. other values could be:  overline, line-through, underline*/
	text-decoration:  none;
}

form{
	color: rgb(0, 0, 128);
	text-align: center;
	background-color: white;
	/*horthand for modifying border*/
	border: 2px solid black;
	/*vw - measurement of width of user's monitor*/
	width: 25vw; 
	/*position - dictates position of element
		have exact measurement w/ regards to position of element.
			relative - makes position of element relative to its direction.

	*/	
	position: relative;
	left: 37.25%;
}

button{
	color:  white;
	background-color: #CF0053;
	border: 0;
	border-radius: 15px;
}