*{
	font-family:  "Courier-New", monospace;
	font-size:  20px;
}

#P3{
	color: yellow !important; 
}

h1{
	font-size: 40px;
}

/*ul{
	list-style-type: none; 
} */

#zuitt-motto{
	text-transform: uppercase;
} 

.offered-items{
	background-color: seagreen;
}

li[align]{
	border-width: 2px;
	border-style: solid;
	border-color: blue;
}

img + ul{
	list-style-type: none;
}

div img{
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

div > ul{
	letter-spacing: 7px;
}

div ~ p{
	text-align: center; 
}